In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import math
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv("Dataset 2.csv")

In [3]:
l = len(df.index)

In [4]:
le = preprocessing.LabelEncoder()

In [5]:
def encode_col(col_name) :
    enc = le.fit(df[col_name])
    new_col_name = "e_"+col_name
    df[new_col_name] = df[col_name].map(lambda x: enc.transform([x]))
    df[new_col_name] = df[new_col_name].map(lambda x:x[0])
    return

In [6]:
encode_col('Attrition')

In [7]:
encode_col('BusinessTravel')

In [8]:
encode_col('Department')

In [9]:
encode_col('EducationField')

In [10]:
encode_col('Gender')

In [11]:
encode_col('JobRole')

In [12]:
encode_col('MaritalStatus')

In [13]:
encode_col('Over18')

In [14]:
encode_col('OverTime')

In [15]:
X = df[["Age","e_BusinessTravel","DailyRate","e_Department","DistanceFromHome","Education","e_EducationField",'EmployeeCount',"EmployeeNumber","EnvironmentSatisfaction","e_Gender","HourlyRate","JobInvolvement","JobLevel","e_JobRole","JobSatisfaction","e_MaritalStatus","MonthlyIncome","MonthlyRate","NumCompaniesWorked","e_Over18","e_OverTime","PercentSalaryHike","PerformanceRating","RelationshipSatisfaction","StandardHours","StockOptionLevel","TotalWorkingYears","TrainingTimesLastYear","WorkLifeBalance","YearsAtCompany","YearsInCurrentRole","YearsSinceLastPromotion","YearsWithCurrManager"]]

In [16]:
y = df["e_Attrition"]

In [17]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20,random_state = 42)

In [18]:
X_test.values

array([[  28,    2,  866, ...,    4,    1,    3],
       [  53,    2, 1084, ...,    2,    1,    3],
       [  24,    2,  240, ...,    0,    0,    0],
       ...,
       [  50,    2, 1322, ...,    2,    1,    2],
       [  37,    2, 1225, ...,    0,    0,    0],
       [  47,    2,  249, ...,    6,    7,    7]], dtype=int64)

In [19]:
X_train.shape

(1176, 34)

In [20]:
X_test.shape

(294, 34)

In [36]:
type(X_test)

pandas.core.frame.DataFrame

In [37]:
X_test.head

<bound method NDFrame.head of       Age  e_BusinessTravel  DailyRate  e_Department  DistanceFromHome  \
1041   28                 2        866             2                 5
184    53                 2       1084             1                13
1222   24                 2        240             0                22
67     45                 2       1339             1                 7
220    36                 2       1396             1                 5
494    34                 2        204             2                14
430    35                 2        144             1                22
240    39                 2       1431             1                 1
218    45                 0       1052             2                 6
49     35                 2       1229             1                 8
665    47                 2       1454             2                 2
926    43                 2        531             2                 4
617    44                 2        625             1                 4
361    40                 2       1171             1                10
1423   22                 2        581             1                 1
1244   30                 1       1312             1                 2
1250   29                 1        461             1                 1
752    36                 2        885             1                16
271    47                 0        666             1                29
1055   34                 1        829             1                15
259    31                 1        307             1                29
428    47                 2        983             1                 2
1026   32                 2        601             2                 7
277    38                 2        322             2                 7
1105   33                 2       1242             2                 8
1116   55                 2        685             2                26
670    27                 2        618             1                 4
619    33                 2        586             2                 1
1046   44                 2       1467             1                20
247    34                 2        470             1                 2
...   ...               ...        ...           ...               ...
990    33                 1       1111             2                 5
677    49                 2        527             1                 8
233    50                 2        854             2                 1
423    30                 0       1398             2                22
196    35                 1        138             1                 2
1234   47                 0        543             2                 2
81     35                 2       1214             1                 1
1377   49                 1       1064             1                 2
1133   43                 2        990             1                27
111    34                 1        658             1                 7
1251   30                 2        979             2                15
1191   31                 2       1112             2                 5
943    46                 2        991             0                 1
661    43                 2        177             1                 8
1240   39                 0        792             1                 1
1218   41                 2        918             2                 6
570    52                 0        715             1                19
354    30                 0        641             2                25
1114   48                 2       1108             1                15
1090   29                 2        441             1                 8
316    49                 2       1091             1                 1
1458   35                 2        287             1                 1
1070   28                 1        467             2                 7
682    32                 0       1184             1                 1
394    31                 2        480             1                 7
567    34                 2        304             2                 2
560    34                 2        167             1                 8
945    50                 2       1322             1                28
522    37                 2       1225             1                10
651    47                 2        249             2                 2

      Education  e_EducationField  EmployeeCount  EmployeeNumber  \
1041          3                 3              1            1469
184           2                 3              1             250
1222          1                 0              1            1714
67            3                 1              1              86
220           2                 1              1             304
494           3                 5              1             666
430           3                 1              1             577
240           4                 3              1             332
218           3                 3              1             302
49            1                 1              1              63
665           4                 1              1             925
926           4                 2              1            1293
617           3                 3              1             852
361           4                 1              1             483
1423          2                 1              1            2007
1244          4                 5              1            1745
1250          3                 1              1            1753
752           4                 1              1            1042
271           4                 1              1             376
1055          3                 3              1            1485
259           2                 3              1             355
428           2                 3              1             574
1026          5                 2              1            1446
277           2                 3              1             382
1105          4                 1              1            1560
1116          5                 2              1            1578
670           3                 1              1             933
619           3                 3              1             855
1046          3                 1              1            1475
247           4                 1              1             339
...         ...               ...            ...             ...
990           1                 1              1            1395
677           2                 4              1             944
233           4                 3              1             323
423           4                 4              1             567
196           3                 3              1             269
1234          4                 2              1            1731
81            3                 3              1             105
1377          1                 1              1            1941
1133          3                 5              1            1599
111           3                 1              1             147
1251          2                 2              1            1754
1191          4                 1              1            1673
943           2                 1              1            1314
661           3                 1              1             920
1240          3                 1              1            1737
1218          3                 2              1            1708
570           4                 3              1             791
354           2                 5              1             475
1114          4                 4              1            1576
1090          1                 4              1            1544
316           2                 5              1             431
1458          4                 1              1            2052
1070          3                 1              1            1507
682           3                 1              1             951
394           2                 3              1             524
567           3                 4              1             786
560           5                 1              1             775
945           3                 1              1            1317
522           2                 1              1             715
651           2                 2              1             903

      EnvironmentSatisfaction          ...           RelationshipSatisfaction  \
1041                        4          ...                                  4
184                         4          ...                                  3
1222                        4          ...                                  3
67                          2          ...                                  3
220                         4          ...                                  4
494                         3          ...                                  4
430                         4          ...                                  3
240                         3          ...                                  3
218                         4          ...                                  4
49                          4          ...                                  4
665                         4          ...                                  1
926                         4          ...                                  4
617                         4          ...                                  4
361                         4          ...                                  3
1423                        4          ...                                  4
1244                        4          ...                                  4
1250                        4          ...                                  4
752                         3          ...                                  3
271                         1          ...                                  4
1055                        2          ...                                  4
259                         3          ...                                  2
428                         1          ...                                  3
1026                        4          ...                                  3
277                         1          ...                                  3
1105                        1          ...                                  4
1116                        3          ...                                  3
670                         2          ...                                  3
619                         1          ...                                  1
1046                        4          ...                                  3
247                         4          ...                                  2
...                       ...          ...                                ...
990                         2          ...                                  1
677                         1          ...                                  3
233                         4          ...                                  3
423                         3          ...                                  3
196                         2          ...                                  4
1234                        3          ...                                  4
81                          2          ...                                  1
1377                        2          ...                                  4
1133                        4          ...                                  3
111                         1          ...                                  4
1251                        3          ...                                  1
1191                        1          ...                                  1
943                         4          ...                                  3
661                         1          ...                                  3
1240                        4          ...                                  4
1218                        4          ...                                  2
570                         4          ...                                  1
354                         4          ...                                  2
1114                        3          ...                                  4
1090                        3          ...                                  3
316                         3          ...                                  4
1458                        3          ...                                  4
1070                        3          ...                                  4
682                         3          ...                                  3
394                         2          ...                                  2
567                         4          ...                                  3
560                         2          ...                                  3
945                         4          ...                                  2
522                         4          ...                                  1
651                         3          ...                                  1

      StandardHours  StockOptionLevel  TotalWorkingYears  \
1041             80                 0                  6
184              80                 2                  5
1222             80                 1                  1
67               80                 1                 25
220              80                 0                 16
494              80                 2                  8
430              80                 0                  6
240              80                 3                  7
218              80                 0                 23
49               80                 0                  1
665              80                 0                  3
926              80                 0                 23
617              80                 0                 10
361              80                 1                 10
1423             80                 0                  4
1244             80                 0                 10
1250             80                 0                 10
752              80                 0                 18
271              80                 1                 10
1055             80                 2                 16
259              80                 0                  6
428              80                 3                 20
1026             80                 1                  7
277              80                 1                  8
1105             80                 1                  8
1116             80                 1                 36
670              80                 0                  1
619              80                 1                  9
1046             80                 0                  6
247              80                 1                 13
...             ...               ...                ...
990              80                 0                  8
677              80                 1                 29
233              80                 1                 32
423              80                 0                 10
196              80                 0                 10
1234             80                 1                  4
81               80                 0                  6
1377             80                 0                 28
1133             80                 1                  8
111              80                 0                  9
1251             80                 1                 12
1191             80                 2                 10
943              80                 0                 10
661              80                 1                  4
1240             80                 1                  9
1218             80                 0                 10
570              80                 1                  5
354              80                 1                  4
1114             80                 1                 10
1090             80                 1                  9
316              80                 0                 25
1458             80                 1                  4
1070             80                 0                  5
682              80                 0                  5
394              80                 1                 13
567              80                 0                  6
560              80                 1                  7
945              80                 0                 25
522              80                 0                  4
651              80                 1                  8

      TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
1041                      4                3               5
184                       3                3               4
1222                      2                3               1
67                        2                3               1
220                       3                4              13
494                       3                3               8
430                       2                3               5
240                       1                3               3
218                       2                3              19
49                        2                3               1
665                       3                2               3
926                       3                4              21
617                       2                2               5
361                       3                3               7
1423                      2                4               3
1244                      2                3               9
1250                      5                4               3
752                       1                3              17
271                       2                2              10
1055                      3                2              14
259                       2                4               5
428                       2                3               5
1026                      3                2               4
277                       3                3               8
1105                      6                1               2
1116                      3                3              36
670                       2                3               1
619                       5                3               9
1046                      3                2               5
247                       3                3              11
...                     ...              ...             ...
990                       2                4               5
677                       3                2              26
233                       3                2               7
423                       3                3               9
196                       5                3               6
1234                      3                1               1
81                        3                3               6
1377                      3                3               5
1133                      0                3               6
111                       3                3               9
1251                      2                3               7
1191                      2                3              10
943                       3                4               7
661                       2                4               1
1240                      2                3               9
1218                      3                3              10
570                       3                3               4
354                       2                4               2
1114                      3                2               8

In [21]:
knn = KNeighborsClassifier(n_neighbors=int(math.sqrt(l)))

In [22]:
int(math.sqrt(l))

38

In [23]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=38, p=2,
           weights='uniform')

In [24]:
pred = knn.predict(X_test)

In [25]:
#X_test['e_Attrition'] = pred

In [26]:
type(y_test)

pandas.core.series.Series

In [27]:
y_test.values

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [28]:
#df1 = y_test.to_frame()

In [29]:
#type(df1)

In [30]:
#df1.shape

In [31]:
pred.shape

(294,)

In [32]:
type(pred)

numpy.ndarray

In [33]:
print(metrics.accuracy_score(y_test, pred))

0.867346938776

In [34]:
mean_squared_error(y_test, pred)

0.1326530612244898

In [35]:
r2_score(y_test, pred)

-0.15294117647058836