In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.feature_selection import SelectFromModel

In [2]:
df = pd.read_csv("Dataset 2.csv")

In [3]:
le = preprocessing.LabelEncoder()

In [4]:
def encode_col(col_name):
    encodes = le.fit(df[col_name])
    new_col_name = "e."+col_name
    df[new_col_name] = df[col_name].map(lambda x: encodes.transform([x]))
    df[new_col_name] = df[new_col_name].map(lambda x:x[0])
    return

In [5]:
encode_col('Attrition')
encode_col('BusinessTravel')
encode_col('Department')
encode_col('EducationField')
encode_col('Gender')
encode_col('JobRole')
encode_col('MaritalStatus')
encode_col('Over18')
encode_col('OverTime')

In [6]:
X = df[["Age","e.BusinessTravel","DailyRate","e.Department","DistanceFromHome","Education","e.EducationField",'EmployeeCount',"EmployeeNumber","EnvironmentSatisfaction","e.Gender","HourlyRate","JobInvolvement","JobLevel","e.JobRole","JobSatisfaction","e.MaritalStatus","MonthlyIncome","MonthlyRate","NumCompaniesWorked","e.Over18","e.OverTime","PercentSalaryHike","PerformanceRating","RelationshipSatisfaction","StandardHours","StockOptionLevel","TotalWorkingYears","TrainingTimesLastYear","WorkLifeBalance","YearsAtCompany","YearsInCurrentRole","YearsSinceLastPromotion","YearsWithCurrManager"]]

In [7]:
y = df["e.Attrition"]

In [8]:
X.shape

(1470, 34)

In [9]:
X.head

<bound method NDFrame.head of       Age  e.BusinessTravel  DailyRate  e.Department  DistanceFromHome  \
0      41                 2       1102             2                 1
1      49                 1        279             1                 8
2      37                 2       1373             1                 2
3      33                 1       1392             1                 3
4      27                 2        591             1                 2
5      32                 1       1005             1                 2
6      59                 2       1324             1                 3
7      30                 2       1358             1                24
8      38                 1        216             1                23
9      36                 2       1299             1                27
10     35                 2        809             1                16
11     29                 2        153             1                15
12     31                 2        670             1                26
13     34                 2       1346             1                19
14     28                 2        103             1                24
15     29                 2       1389             1                21
16     32                 2        334             1                 5
17     22                 0       1123             1                16
18     53                 2       1219             2                 2
19     38                 2        371             1                 2
20     24                 0        673             1                11
21     36                 2       1218             2                 9
22     34                 2        419             1                 7
23     21                 2        391             1                15
24     34                 2        699             1                 6
25     53                 2       1282             1                 5
26     32                 1       1125             1                16
27     42                 2        691             2                 8
28     44                 2        477             1                 7
29     46                 2        705             2                 2
...   ...               ...        ...           ...               ...
1440   36                 1        688             1                 4
1441   56                 0        667             1                 1
1442   29                 2       1092             1                 1
1443   42                 2        300             1                 2
1444   56                 2        310             1                 7
1445   41                 2        582             1                28
1446   34                 2        704             2                28
1447   36                 0        301             2                15
1448   41                 2        930             2                 3
1449   32                 2        529             1                 2
1450   35                 2       1146             0                26
1451   38                 2        345             2                10
1452   50                 1        878             2                 1
1453   36                 2       1120             2                11
1454   45                 2        374             2                20
1455   40                 2       1322             1                 2
1456   35                 1       1199             1                18
1457   40                 2       1194             1                 2
1458   35                 2        287             1                 1
1459   29                 2       1378             1                13
1460   29                 2        468             1                28
1461   50                 2        410             2                28
1462   39                 2        722             2                24
1463   31                 0        325             1                 5
1464   26                 2       1167             2                 5
1465   36                 1        884             1                23
1466   39                 2        613             1                 6
1467   27                 2        155             1                 4
1468   49                 1       1023             2                 2
1469   34                 2        628             1                 8

      Education  e.EducationField  EmployeeCount  EmployeeNumber  \
0             2                 1              1               1
1             1                 1              1               2
2             2                 4              1               4
3             4                 1              1               5
4             1                 3              1               7
5             2                 1              1               8
6             3                 3              1              10
7             1                 1              1              11
8             3                 1              1              12
9             3                 3              1              13
10            3                 3              1              14
11            2                 1              1              15
12            1                 1              1              16
13            2                 3              1              18
14            3                 1              1              19
15            4                 1              1              20
16            2                 1              1              21
17            2                 3              1              22
18            4                 1              1              23
19            3                 1              1              24
20            2                 4              1              26
21            4                 1              1              27
22            4                 1              1              28
23            2                 1              1              30
24            1                 3              1              31
25            3                 4              1              32
26            1                 1              1              33
27            4                 2              1              35
28            4                 3              1              36
29            4                 2              1              38
...         ...               ...            ...             ...
1440          2                 1              1            2025
1441          4                 1              1            2026
1442          4                 3              1            2027
1443          3                 1              1            2031
1444          2                 5              1            2032
1445          4                 1              1            2034
1446          3                 2              1            2035
1447          4                 2              1            2036
1448          3                 1              1            2037
1449          3                 5              1            2038
1450          4                 1              1            2040
1451          2                 1              1            2041
1452          4                 1              1            2044
1453          4                 2              1            2045
1454          3                 1              1            2046
1455          4                 1              1            2048
1456          4                 1              1            2049
1457          4                 3              1            2051
1458          4                 1              1            2052
1459          2                 4              1            2053
1460          4                 3              1            2054
1461          3                 2              1            2055
1462          1                 2              1            2056
1463          3                 3              1            2057
1464          3                 4              1            2060
1465          2                 3              1            2061
1466          1                 3              1            2062
1467          3                 1              1            2064
1468          3                 3              1            2065
1469          3                 3              1            2068

      EnvironmentSatisfaction          ...           RelationshipSatisfaction  \
0                           2          ...                                  1
1                           3          ...                                  4
2                           4          ...                                  2
3                           4          ...                                  3
4                           1          ...                                  4
5                           4          ...                                  3
6                           3          ...                                  1
7                           4          ...                                  2
8                           4          ...                                  2
9                           3          ...                                  2
10                          1          ...                                  3
11                          4          ...                                  4
12                          1          ...                                  4
13                          2          ...                                  3
14                          3          ...                                  2
15                          2          ...                                  3
16                          1          ...                                  4
17                          4          ...                                  2
18                          1          ...                                  3
19                          4          ...                                  3
20                          1          ...                                  4
21                          3          ...                                  2
22                          1          ...                                  3
23                          3          ...                                  4
24                          2          ...                                  3
25                          3          ...                                  4
26                          2          ...                                  2
27                          3          ...                                  4
28                          1          ...                                  4
29                          2          ...                                  4
...                       ...          ...                                ...
1440                        4          ...                                  2
1441                        3          ...                                  1
1442                        1          ...                                  2
1443                        1          ...                                  1
1444                        4          ...                                  4
1445                        1          ...                                  3
1446                        4          ...                                  4
1447                        4          ...                                  1
1448                        3          ...                                  3
1449                        4          ...                                  4
1450                        3          ...                                  3
1451                        1          ...                                  3
1452                        2          ...                                  4
1453                        2          ...                                  1
1454                        4          ...                                  3
1455                        3          ...                                  4
1456                        3          ...                                  4
1457                        3          ...                                  2
1458                        3          ...                                  4
1459                        4          ...                                  1
1460                        4          ...                                  2
1461                        4          ...                                  2
1462                        2          ...                                  1
1463                        2          ...                                  2
1464                        4          ...                                  4
1465                        3          ...                                  3
1466                        4          ...                                  1
1467                        2          ...                                  2
1468                        4          ...                                  4
1469                        2          ...                                  1

      StandardHours  StockOptionLevel  TotalWorkingYears  \
0                80                 0                  8
1                80                 1                 10
2                80                 0                  7
3                80                 0                  8
4                80                 1                  6
5                80                 0                  8
6                80                 3                 12
7                80                 1                  1
8                80                 0                 10
9                80                 2                 17
10               80                 1                  6
11               80                 0                 10
12               80                 1                  5
13               80                 1                  3
14               80                 0                  6
15               80                 1                 10
16               80                 2                  7
17               80                 2                  1
18               80                 0                 31
19               80                 0                  6
20               80                 1                  5
21               80                 0                 10
22               80                 0                 13
23               80                 0                  0
24               80                 0                  8
25               80                 1                 26
26               80                 0                 10
27               80                 1                 10
28               80                 1                 24
29               80                 0                 22
...             ...               ...                ...
1440             80                 3                 18
1441             80                 1                 13
1442             80                 3                  4
1443             80                 0                 24
1444             80                 1                 14
1445             80                 1                 21
1446             80                 2                  8
1447             80                 1                 15
1448             80                 1                 14
1449             80                 0                  4
1450             80                 0                  9
1451             80                 1                 10
1452             80                 2                 12
1453             80                 1                  8
1454             80                 0                  8
1455             80                 0                  8
1456             80                 2                 10
1457             80                 3                 20
1458             80                 1                  4
1459             80                 1                 10
1460             80                 0                  5
1461             80                 1                 20
1462             80                 1                 21
1463             80                 0                 10
1464             80                 0                  5
1465             80                 1                 17
1466             80                 1                  9
1467             80                 1                  6
1468             80                 0                 17
1469             80                 0                  6

      TrainingTimesLastYear  WorkLifeBalance  YearsAtCompany  \
0                         0                1               6
1                         3                3              10
2                         3                3               0
3                         3                3               8
4                         3                3               2
5                         2                2               7
6                         3                2               1
7                         2                3               1
8                         2                3               9
9                         3                2               7
10                        5                3               5
11                        3                3               9
12                        1                2               5
13                        2                3               2
14                        4                3               4
15                        1                3              10
16                        5                2               6
17                        2                2               1
18                        3                3              25
19                        3                3               3
20                        5                2               4
21                        4                3               5
22                        4                3              12
23                        6                3               0
24                        2                3               4
25                        3                2              14
26                        5                3              10
27                        2                3               9
28                        4                3              22
29                        2                2               2
...                     ...              ...             ...
1440                      3                3               4
1441                      2                2              13
1442                      3                4               2
1443                      2                2              22
1444                      4                1              10
1445                      3                3              20
1446                      2                3               8
1447                      4                2              15
1448                      5                3               5
1449                      4                3               4
1450                      2                3               9
1451                      1                3              10
1452                      3                3               6
1453                      2                2               6
1454                      3                3               5
1455                      2                3               2
1456                      2                4              10
1457                      2                3               5
1458                      5                3               4

In [10]:
type(X)

pandas.core.frame.DataFrame

In [11]:
clf = ExtraTreesClassifier()

In [12]:
clf = clf.fit(X, y)

In [13]:
clf.feature_importances_

array([ 0.04110316,  0.01881797,  0.03174338,  0.02467708,  0.03536687,
        0.02398398,  0.03115683,  0.        ,  0.02986053,  0.03931406,
        0.01769396,  0.02878321,  0.02859532,  0.02509625,  0.0347258 ,
        0.03546272,  0.03944241,  0.04712795,  0.02638717,  0.037857  ,
        0.        ,  0.06718725,  0.03145642,  0.01681241,  0.0287303 ,
        0.        ,  0.03363089,  0.04065197,  0.0273362 ,  0.03228231,
        0.03685827,  0.02932545,  0.0230164 ,  0.03551646])

In [14]:
model = SelectFromModel(clf, prefit=True)

In [15]:
X_new = model.transform(X)

In [30]:
X_new.shape

(1470, 18)

In [31]:
X_new.shape[1] #column size

18

In [17]:
type(X_new)

numpy.ndarray

In [18]:
X_new.view()

array([[  41, 1102,    1, ...,    1,    6,    5],
       [  49,  279,    8, ...,    3,   10,    7],
       [  37, 1373,    2, ...,    3,    0,    0],
       ...,
       [  27,  155,    4, ...,    3,    6,    3],
       [  49, 1023,    2, ...,    2,    9,    8],
       [  34,  628,    8, ...,    4,    4,    2]], dtype=int64)

In [19]:
#X_nd = X.values

In [20]:
#type(X_nd)

In [21]:
#X_nd.view()

In [22]:
#X_new_df = pd.DataFrame(data=X_new[1:,1:], index=X_new[1:,0], columns=X_new[0,1:])

In [23]:
#type(X_new_df)

In [32]:
X_new[0,:]

array([  41, 1102,    1,    1,    1,    2,    7,    4,    2, 5993,    8,
          1,   11,    0,    8,    1,    6,    5], dtype=int64)

In [33]:
X_new[1,:]

array([  49,  279,    8,    1,    2,    3,    6,    2,    1, 5130,    1,
          0,   23,    1,   10,    3,   10,    7], dtype=int64)

In [34]:
X_new[2,:]

array([  37, 1373,    2,    4,    4,    4,    2,    3,    2, 2090,    6,
          1,   15,    0,    7,    3,    0,    0], dtype=int64)

In [35]:
X_new[3,:]

array([  33, 1392,    3,    1,    5,    4,    6,    3,    1, 2909,    1,
          1,   11,    0,    8,    3,    8,    0], dtype=int64)

In [26]:
#features = np.array(["Age","DailyRate","DistanceFromHome","EmployeeNumber","EnvironmentSatisfaction","HourlyRate","JobInvolvement","JobLevel","e.JobRole","JobSatisfaction","e.MaritalStatus","MonthlyIncome","MonthlyRate","NumCompaniesWorked","e.OverTime","RelationshipSatisfaction","StockOptionLevel","TotalWorkingYears","TrainingTimesLastYear","WorkLifeBalance","YearsAtCompany","YearsInCurrentRole"])

In [27]:
#features.shape

In [28]:
#X_withf = np.vstack((features,X_new))